* {
    box-sizing: border-box;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;      
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;

}

li {
    display: inline;
    
}

table, th, td {
    border-top: 1px solid black;
    border-collapse: collapse;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

table {
    width: 98%;
    margin: 0 auto;
}

th {
    background-color: dodgerblue;
    color: white;
}

tr {
    height: 3rem;
    border-bottom: none;
}

