* {
    box-sizing: border-box;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;      
}

main {
    /* display: flex; */
    flex: wrap;
    width: 100%;
    flex-direction: row;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;

}

div {
    display: flex;
    width: 40%;

}

table, th, td {
    border-top: 1px solid black;
    border-collapse: collapse;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

table {
    width: 98%;
    margin: 0 auto;
}

th {
    background-color: dodgerblue;
    color: white;
}

tr {
    height: 3rem;
    border-bottom: none;
}

li {
    display: inline;
    
}
